<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<td class="span2">1</td>
			<td class="span9">
				<div>Adhika Mahendra</div>
				<div>Return $0.00</div>
				<div>No Activity</div>
			</td>
			<td class="span1">
				<i class="icon-chevron-right"></i>
			</td>
		</tr>
		<tr>
			<td class="span2">2</td>
			<td class="span9">
				<div>Mahendra Mahendra</div>
				<div>Return $0.00</div>
				<div>No Activity</div>
			</td>
			<td class="span1"><i class="icon-chevron-right"></i></td>
		</tr>
		<tr>
			<td class="span2">3</td>
			<td class="span9">
				<div>Mahendra Adhika</div>
				<div>Return $0.00</div>
				<div>No Activity</div>
			</td>
			<td class="span1"><i class="icon-chevron-right"></i></td>
		</tr>
	</tbody>
</table>